body{
    margin: 0px;
    font-family: "Malgun Gothic";
}

#slide, #slide>a{
    display: none;
}

header{
    height: 700px;
    width: 100%;
    background-image: url(https://media.tegna-media.com/assets/WTHR/images/36954d83-ea36-439c-8e02-b1991149f353/36954d83-ea36-439c-8e02-b1991149f353_750x422.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    margin-bottom: 60px;
}

header>div{
    width: 100%;
    margin: 90px auto;
    text-align: center;
}

.logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 70px;
    float: left;
}

nav{
    display: flex;
    justify-content: center;
}

a{
    padding: 20px 0px;
    font-size: 15px;
    text-decoration: underline;    
    text-underline-offset: -30px;  
    text-decoration-color: rgba(0, 0, 0, 0);
    min-width: 100px;
    width: 140px;
    color: gray;
    transition: all 1s ease;
}

nav>a:hover{
    text-underline-offset: 20px;
    text-decoration-color: white;
    transition: all 1s ease;
}

#join{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 10px;
    margin-top: 10px;
    padding-top: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

#join:hover{
    border-radius: 0px;
    box-shadow: 0 0 15px white inset;
    transition: all 0.5s ease;
}

#User{
    border: 1px solid white;
    border-radius: 100%;
    padding: 0px;
    width: 60px;
    height: 60px;
    color: white;
    line-height: 55px;
    margin-top: 5px;
    box-shadow: 0 0 15px white inset;
    overflow: hidden;
}

#btn_nav{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    float: left;
    margin-left: 20px;
    margin-top: 10px;

    display: none;
}

#btn_nav:hover{
    box-shadow: 0 0 10px 1px white;
}

h1{
    color: white;
    margin-bottom: 5px;
    font-size: 40px;
}

#btn_1{
    width: 215px;
    height: 45px;
    background-color: #7B61FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 0px;
    font-size: 16px;
    float: none;
}

#search{
    width: 620px;
    height: 60px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 280px;
}

select{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    height: 30px;
    border: 1px solid #5243C2;
    border-radius: 10px;
}

input{
    float: left;
    margin-top: 15px;
    height: 26px;
    border: 1px solid #5243C2;
    border-radius: 10px;
}

#search>img{
    margin-left: 15px;
    margin-right: 5px;
}

#search>button{
    width: 50px;
    height: 50px;
    background-color: #5243C2;
    margin-top: 5px;
    margin-right: 5px;
}

h2{
    margin-top:50px;
    margin-bottom:30px;
    margin-left: 40px;
    font-size: 32px;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec_h2{
    float: left;
}

#section_1>div{
    float: left;
    min-width: 160px;
    width: auto;
}

.fig_1>img{
    width: 160px;
    height: 138px;
    border-radius: 10px;
}

.fig_1>figcaption{
    font-size: 16px;
    font-weight: 600;
}

.fig_1>footer{
    font-size: 13px;
    color: #979797;
}

button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: #5243C2;
    background-color: #F6F4FF;
    font-size: 15px;
    float: right;
    margin-top: 55px;
    margin-right: 50px;
    transition: all 0.5s ease;
}

button:hover{
    box-shadow: 0 0 10px 1px #5243C2;
    transition: all 0.5s ease;
}

#section_2>div{
    min-width: 260px;
    width: auto;
}

.fig_2>img{
    width: 260px;
    height: 323px;
    border-radius: 10px;
}

.fig_2>figcaption{
    font-size: 15px;
    font-weight: 600;
}

.fig_2>footer{
    color: #979797;
    margin-top: 10px;
}

.stars{
    margin-top: 10px;
    height: 15px;
}

.fig_3{
    width: 300px;
    width: 700px;
}

.fig_3>img{
    width: 260px;
    height: 323px;
    border-radius: 20px;
    float: left;
}

.fig_3>div{
    float: right;
    line-height: 28px;
    color: #5B5B5B;
}

.fig_3>div>figcaption{
    font-size: 20px;
    margin-bottom: 25px;
}

.fig_3>div>footer{
    margin-top: 80px;
}

.fig_4>img{
    width: 260px;
    height: 323px;
    border-radius: 10px;
}

.fig_5>img{
    width: 450px;
    border-radius: 20px;
    margin-left: 70px;
}

.fig_5>div{
    float: left;
    line-height: 28px;
    color: #5B5B5B;
}

.fig_5>div>figcaption{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    color: black;
}

.fig_5>div>button{
    width: 120px;
    float: left;
    margin-top: 30px;
}

#footer{
    background-color: #F9F9F9;
    margin-top: 100px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
}

#footer>div{
    float: left;
    width: auto;
    padding-left: 50px;
    padding-right: 80px;
}

.svg{
    color: #5243C2;
    padding-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;    
    color: #5B5B5B;
    line-height: 32px;
}

#input{
    width: 250px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding-left: 70px;
    font-size: 16px;
}

#input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder{
    font-size: 16px;
    color: black;
}

#post{
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
}

#btn_2{
    background-color: #5243C2;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: -60px;
}

span{
    color: #5B5B5B;
    font-size: 11px;
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
}

@media screen and (max-width: 1330px){
    #footer>div:last-child{
        display: none;
    }

    header>.logo{
        margin-right: 0px;
    }

    nav{
        justify-content: left;
    }
}

@media screen and (max-width: 1300px){
    .fig_4:last-child{
        display: none;
    }

    .fig_3:last-child{
        display: none;
    }
}

@media screen and (max-width: 1216px){
    #section_1>div:last-child, #section_2>div:last-child{
        display: none;
    }

    a{
        width: 10vw;
    }

    nav{
        justify-content: center;
    }
}

@media screen and (max-width: 1099px){
    .fig_5{
        display: grid;
        justify-items: center;
    }

    .fig_5>div{
        margin-left: 50px;
    }

    .fig_5>div>br{
        display: none;
    }
}

@media screen and (max-width: 1030px){
    #section_1>div:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 950px){
    #slide{
        width: 100%;
        height: 377px;
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 70px;
        justify-items: center;
        position: absolute;
    }
    
    #slide>a{
        color: white;
        text-align: center;
        border: none;
        width: 100%;
        padding: 16px 0px;
        margin: 0px;
    }

    #section_1>div:nth-child(4), #section_2>div:nth-child(3), .fig_4:nth-child(3){
        display: none;
    }

    #btn_nav{
        display: block;
    }

    nav{
        justify-content: right;
    }

    nav>a{
        width: 0px;
        display: none;
    }

    #join, #User{
        display: block;
        margin-right: 30px;
    }
}

@media screen and (max-width: 893px){
    #footer>div{
        padding: 20px;
    }
}

@media screen and (max-width: 650px){
    #btn_1>svg{
        margin-left: 0px;
    }

    #search{
        margin-top: 50px;
        width: 400px;
        height: 200px;
    }

    #search>select{
        width: 330px;
    }

    #search>input{
        width: 324px;
    }

    #search>img{
        margin-left: 10px;
        margin-right: 10px;
    }

    #search>button{
        float: left;
        margin-left: 190px;
        margin-top: 8px;
    }

    #search>button>svg{
        margin-left: 0px;
    }

    #lastSelect{
        margin-left: 0px;
    }

    svg{
        margin-left: 10px;
    }

    .fig_2>footer>svg{
        margin-left: 0px;
    }

    .fig_3{
        display: grid;
        justify-items: center;
    }

    .fig_3>div{
        margin-top: 25px;
        margin-left: 2vw;
        text-align: center;
    }

    .fig_3>div>br{
        display: none;
    }

    .fig_3>div>footer{
        margin-top: 25px;
    }

    #footer>div:first-child{
        display: none;
    }

    #footer>div{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 630px){
    #section_1, #section_2, #section_4{
        display: grid;
        justify-items: center;
    }

    .fig_5{
        margin-left: 0px;
    }

    .fig_5>div{
        width: 65vw;
    }
}

@media screen and (max-width: 565px){
    #btn_hotel, #btn_travel{
        margin-top: 110px;
        margin-bottom: 10px;
        float: none;
        margin-left: -350px;
    }
}

@media screen and (max-width: 538px){
    .fig_5>img{
        margin-left: 50px;
    }

    #footer>div{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 459px){
    .fig_5>img{
        margin-left: 40px;
        width: 320px;
    }
}

@media screen and (max-width: 410px){
    #search{
        width: 98vw;
    }

    #search>select{
        width: 82vw;
    }

    #search>input{
        width: 80.5vw;
    }

    #search>button{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    h2, .sec_h2{
        width: 100vw;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #btn_active{
        margin-bottom: 10px;
        float: none;
    }

    #btn_hotel, #btn_travel, #btn_active{
        margin-top: 0px;
        margin-left: 40vw;
    }
}

@media screen and (max-width: 345px){
    header{
        display: grid;
        justify-items: left;
    }

    header>div{
        margin-top: 0px;
    }

    #btn_nav{
        margin-left: 37px;
    }

    #join{
        margin-left: 10px;
    }

    #User{
        margin-left: 35px;
    }
    
    #search{
        width: 90vw;
    }

    #search>select{
        width: 73vw;
    }

    #search>input{
        width: 71.5vw;
    }

    #section_1, #section_2, #section_3, #section_4, #section_5{
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    #section_2>div, .fig_2, .fig_3, .fig_3>div{
        width: 260px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .fig_3>div>footer{
        display: none;
    }

    .fig_5>img{
        width: 260px;
    }

    #btn_hotel, #btn_travel, #btn_active{
        margin-left: 35vw;
    }

    #footer{
        padding-top: 30px;
        display: grid;
        justify-items: center;
        height: 100%;
    }

    #footer>div{
        padding: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 323px){
    #search{
        width: 85vw;
    }

    #search>select{
        width: 62vw;
    }

    #search>input{
        width: 59.5vw;
    }
}

@media screen and (max-width: 299px){
    h1{
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 40px;
    }
}