body{
    font-family: "Malgun Gothic";
    text-align: center;
    padding-top: 70px;
}

h1, h2{
    margin: 0px;
    line-height: 90%;
}

div{
    min-width: 70px;
    max-width: 800px;
    margin: 60px auto;
}

button{
    height: 50px;
    width: 130px;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: #7B61FF;
    transition: all 0.5s ease;
    margin: 0px 20px;
}

#login, #signup{    
    margin-top: 30px;
}

button:hover{
    border: 1px solid #7B61FF;
    border-radius: 0px;
    color: #7B61FF;
    background-color: white;
    transition: all 0.5s ease;
}

form{
    display: none;
    width: 400px;
    height: auto;
    padding-top: 50px;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #c8c8c8;
}

input{
    height: 40px;
    width: 300px;
    padding-left: 20px;
    margin: auto;
    border: 1px solid #7B61FF;
    border-radius: 10px;
    font-size: 15px;
    color: #7B61FF;
}

input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder{
    font-size: 15px;
}

b{
    float: right;
    margin-top: -50px;
    color: #7B61FF;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-top-right-radius: 10px;
    transition: all 0.5s ease;
}

b:hover{
    background-color: #7B61FF;
    border: 1px solid #7B61FF;
    color: white;
}

span{
    color: #7B61FF;
    float: left;
    margin-left: 45px;
    font-size: 11px;
    opacity: 0;
    transition: all 0.1s ease;
}

form>button{
    margin-top: 50px;
    margin-bottom: 50px;
}

form>div{
    width: 100%;
    display: flex;
    margin: 0px;
}

.eye{
    position: absolute;    
    width: 25px;
    margin-top: 10px;
    margin-left: -40px;
    opacity: 0;
    transition: all 0.5s ease;
}

@media screen and (max-width:420px){
    form{
        width: 250px;
    }

    input{
        width: 200px;
    }

    span{
        margin-left: 20px;
    }
}